/* Linux Libertine */

@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('./LinLibertine_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url('./LinLibertine_RI.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('./LinLibertine_RB.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('./LinLibertine_RBI.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* Linux Biolinum */

@font-face {
    font-family: 'Linux Biolinum'; /* normal */
    src: url('./LinBiolinum_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum'; /* italic */
    src: url('./LinBiolinum_RI.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Biolinum'; /* bold */
    src: url('./LinBiolinum_RB.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum'; /* bold */
    src: url('./LinBiolinum_RBI.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* Linux Libertine Display */

@font-face {
    font-family: 'Linux Libertine Display'; /* normal */
    src: url('./LinLibertine_DR.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}