<div class="news">
    <h2 class="title-sc">news</h2>
    {% if site.news != blank -%}
    <div class="table-responsive">
        <table class="table table-md table-borderless">
            {%- assign news = site.news | reverse -%}
            {% for item in news limit: page.news_limit %}
            <tr>
                <th class="text-right" scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                <td>
                    {% if item.inline -%}
                    {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                    <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                </td>
            </tr>
            {%- endfor %}
        </table>
    </div>
    {%- else -%}
    <p>No news so far...</p>
    {%- endif %}
</div>