<footer class="border-top sticky-bottom">
    <div class="container d-flex flex-wrap justify-content-between align-items-center py-3">
    <div>
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      </a>
      <span class="text-muted">
        &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.last_name }} 
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {% if site.last_updated %}
        &middot; Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {% endif %}
      </span>
    </div>
    <div>
        {%- if page.include_social %}
        {% include social.html %}
        {%- endif %}
    </div>
</div>
</footer>

<!--<footer class="footer fixed-bottom">
    <div class="container mt-0">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
    {%- if site.impressum_path -%}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {%- endif -%}
    {%- if site.last_updated -%}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {%- endif %}
    </div>
</footer>-->