---
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />
  {%- endif -%}
  {% include blocks/head.html %}
  </head>

  <!-- Body -->
  <body class="fixed-top-nav sticky-bottom-footer font-serif">

    <!-- Header -->
    <header>
        {%- include blocks/navbar.html %}
    </header>

    <!-- Content -->
    <div class="container container-md mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include blocks/footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/mathjax.html %}
  </body>
</html>